.scrollable {
    overflow-y: auto;
    height: 75vh;
}

li.list-group-item {
    border: 0 none;
}

body {
    background-color: #11293b !important;
}

input,
button {
    font-family: "Calibri", serif;
    background-color: #354e60 !important;
    color: #b5bec4 !important;
}

.panel,
li.list-group-item,
.modal-content {
    font-family: "Calibri", serif;
    background-color: #203b4d !important;
    color: #c6dff1 !important;
}

#notification {
    font-family: Arial, Sans-Serif;
}

#header {
    font-family: Times, Sans-Serif;
}
